#container1.arrow
#container.logo
header#home
  nav

    a(href='#about-me') About Me
    a(href='/posts') Blog
    a(href='mailto:cammarota.en@gmail.com') Contact Me


  h1
    span Enrico Cammarota
  p.kicker Software Engineer // Java Developer 
