<section>
	<h2 id="about-me">About Myself</h2>
	<hr class="bar"/>
	<div class="about-lock">
		<div ontouchstart="this.classList.toggle('hover');" class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="face-img"></div>
				</div>
				<div class="back">
					<div class="face1-img"></div>
				</div>
			</div>
		</div>
		<div class="glyph-icon flaticon-cogwheel28"></div>
		<div class="glyph-icon flaticon-computer1"></div>
		<div class="glyph-icon flaticon-hosting"></div>
		<div class="glyph-icon flaticon-computers13"></div>
	</div>
	<div class="blurb">
		<p>Born in Naples in 1989, I started programming at High School when I was 16 years old. After 1 year and half spent in studying 
		   various technologies (OOP in particular) I decided to join K-Makers S.r.l. and in 2009 to attend a training course in Java and 
		   related technologies. Since then, I never stopped programming. After 5 years working in Italian IT Industry, I moved to London 
		   looking for new challenges and opportunities of growth. Since July 2014 I had the opportunity to learn and grow in 2 British 
		   companies but the plan nowadays is to find the definitive company where I'll be able to settle and create my future.
		   <br />
		   I'm very passionate in coding and learning new technologies but despite this I like to enjoy my friends, being social and play sports.</p>
	</div>
	<div class="skill-lock"></div>
</section>