<section>
	<div class="about-lock">
		<div ontouchstart="this.classList.toggle('hover');" class="flip-container">
			<div class="flipper">
				<div class="front">
					<div class="face-img"></div>
				</div>
				<div class="back">
					<div class="face1-img"></div>
				</div>
			</div>
		</div>
		<div class="glyph-icon flaticon-cogwheel28"></div>
		<div class="glyph-icon flaticon-computer1"></div>
		<div class="glyph-icon flaticon-hosting"></div>
		<div class="glyph-icon flaticon-computers13"></div>
	</div>
	<div class="blurb">
		<p> Born in Naples in 1989, I started programming at High School when I was 16. After 2 years spent in studying
			various technologies (with a particular focus on OOP) I decided to join K-Makers S.r.l. and in 2009 to
			attend a training course in Java and related technologies. Since then, I have never stopped programming.
			After 5 years of working in Italian IT Industry, I moved to London looking for new challenges and opportunities
			of growth.
			<br /><br />
			After changing two companies I decided to join 7digital and since July 2016 I'm part of the Interactive
			Radio Team based in London Moorgate's offices.
			<br /><br />
			I'm very passionate about coding and learning new technologies but, aside from I also enjoy spending time with my
			friends, attending concerts and events, playing sports and salsa.
		</p>
	</div>
	<div class="skill-lock"></div>
</section>