<div id="container1" class="arrow"></div>
<!--<div id="container" class="logo"></div>-->

<header id="home">
	<nav>
		<a href="#about-me">About Me</a>
		<a href="#Experenice">Experience</a>
		<a href="#Blog">Blog</a>
		<a href="#Contact">Contact Me</a>
		<a href="https://enricocammarota.github.io/files/Enrico_Cammarota_CV.docx" target="_blank">Download CV</a>
	</nav>
	<h1>		
		<span>Enrico Cammarota</span>
	</h1>
	<p class="kicker">Software Engineer // Java Developer </p>
	<ul>
		{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
		{% for post in posts %}
		<li>
			<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
		</li>
		{% endfor %}

		{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
		{% for page in pages %}
		<li>
			<a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
		</li>
		{% endfor %}
	</ul>
</header>