<div class="history">
	<div class="cd-timeline-header" style="padding-top: 4em;"></div>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/college.svg" alt="College"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">Education</h2>
				<p>
					<ul>
						<li>High School Diploma as Industrial Engineer in Advanced Computer Science
							(mark 92/100) at the Technology High School “I.T.I. A. Righi”, Naples.</li>
						<li>Training course in Java and related technologies</li>
						<li>Specialised workshop on Java & J2EE</li>
						<li>Specialised workshop on JPA and Multithreading programming</li>
						<li>Specialised workshop on accessibility to persons with disabilities with special regard to compliance with
							the Stanca law and its application in the development of webpages.</li>
						<li>Magnolia Associate Developer Certification</li>
						<li>W3Schools Certified HTML Developer</li>
					</ul>
				</p>
				<span class="cd-date">2003-2017</span>
			</div><!-- cd-timeline-content-->			
		</div><!-- cd-timeline-block-->
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="../assets/img/engineeringLogo.svg" alt="First Experience"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Java Developer @ Engineering Ingegneria Informatica S.p.a. - Rome</h2>
				<p>During this experience I worked as a consultant for the <b>Italian Government</b> over 3 projects.
				   I had the opportunity to learn about Agile methodologies and several other technologies e.g. Adobe Flex,
				   HTML5, CSS3, Hibernate, JSF, Selenium Webdriver.</p>
				<span class="cd-date">October 2010 - June 2014</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="../assets/img/thunderheadLogo.svg" alt="Full stack Java Developer"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Full Stack Developer @ Thunderhead - London</h2>
				<p><b>Thunderhead</b> is a company specialized in customer engagement solutions for third party customers.
				   With them I had the opportunity to grow in both personal and professional aspects. I also had the opportunity
				   to improve my knowledge on Agile and learn more about Continuous Integration, GIT.
				</p>
				   <span class="cd-date">July 2014 - October 2015</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/prioceptLogo.svg" alt="Software Engineer"/>
			</div><!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Software Engineer @ Priocept - London</h2>
				<p> <b>Priocept</b> is a consultancy company that provides project management and software development to third party customers.
				    My role during those eight months has been not just focused on code development using Java, FTL, Magnolia CMS,
				    but I had the chance to enhance my skills in technical analysis, estimations, document writing/review, client facing,
					company improvements.
				</p>
				<span class="cd-date">October 2015 - June 2016</span>
			</div><!-- cd-timeline-content-->
		</div><!-- cd-timeline-block-->
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/7digitalLogo.svg" alt="Rebel Alliance"/>
			</div>
			<div class="cd-timeline-content">
				<h2>Java Developer @ 7digital - London</h2>
				<p> <b>7digital</b> creates and implements white label music solutions that transform the digital listening experience,
					bringing brands, music and listeners together. As part of the Interactive Radio Team my role is to develop using SpringBoot,
					Hibernate, MongoDB, PSQL, Elasticsearch and AWS solutions for our customers.
				</p>
				<span class="cd-date">June 2016 - Actual</span>
			</div>
		</div>
		
		<!--<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="../assets/img/question30.svg" alt="Location"/>
			</div>
		</div>--><!-- cd-timeline-->
	</div>
</section>

<div class="cd-timeline-header">
<!-- <h2></h2></div></div> -->